*{
    margin:0 auto;
    padding: 0%;
    box-sizing: border-box;
}
.register{
    width: 502px;
    height: 450px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(173, 172, 172);
    margin-top: 60px;
    padding-top: 20px;
}
.cards-titles{
   text-align: center;
   padding-bottom: 30px;
}
h2{
    font-size: 32px;
}
.form-control{
    width: 400px;
    margin: auto;
}
.form-label{
    margin-left: 40px;
    color: rgba(0, 0, 0, 1);
}
.submit{
    width: 360px;
    height: 52px;
    background-color: rgba(247, 81, 69, 1);
    color: #fff;
    margin-left: 60px;
}
.submit:hover{
    background-color: transparent;
    border: 1px solid #fff;
}
p{
    margin-left: 40px;
}