*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

.navbar-area{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-input{
    border: 0px;
    outline: 0px;
    background-color: #f7f9fc;
    width: 450px;
}
.nav-search{
    width: 500px;
    height: 48px;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: #f7f9fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(39,49,66,0.75);
}
.logo{
    font-weight: bold;
    font-size: 40px;
}
.nav_list-li{
    color: rgba(46,46,66,1);
}
.nav_list-icons{
    font-size: 20px;
}

.nav-button{
    display: none;
    background-color: #f7f9fc;
}
#header{
    height: 120px;
    padding: 10px;
}
/*  header finish */

@media (max-width:1024px) and (min-width:768px){
     .nav-search{
        width: 300px;
     }
     .nav-input{
        width: 250px;
     }
     .navbar-area{
       display: flex;
       flex-wrap: wrap;
       gap: 5px;
       justify-content: space-between;
     }
     .logo{
        font-size: 30px;
     }
     .nav_list-icons{
        font-size: 15px;
     }
     /* header finish */
}
@media (max-width:768px) and (min-width:576px){
   .nav-search{
    display: none;
   }
   .navbar-area{
    display: flex;
    justify-content: space-between;
   }
   .logo{
    font-size: 36px;
   }
   .nav_list-icons{
    font-size: 15px;
   }
   .nav-button{
    display: block;
   }
   /* header finish */
}
@media (max-width:576px){
   .nav-search{
    display: none;
   }
   .navbar-area{
    display: flex;
    justify-content: space-between;
    gap: 10px;
   }
   .logo{
    font-size: 15px;
   }
   .nav_list-icons{
    font-size: 10px;
   }
   .nav-button{
    display: block;
    height: 25px;
    width: 15px;
    padding: 0%;
   }
   .nav_list-li{
    font-size: 10px;
   }
   .nav_search-icons{
    font-size: 10px;
   }
   /* header finish */
}